@media only screen and (max-width : 1300px) {
#header {
  color: white;
  line-height: 40px;
}

#header h1 {
  font-family: 'montserratsemi_bold', Sans-Serif;
  font-size: 7.3em;
  white-space: nowrap;
}

#header h2 {
  font-family: 'source_sans_prosemibold', Sans-Serif;
  font-size: 3em;
}
}

@media only screen and (max-width : 1200px) {
#header {
  color: white;
  line-height: 40px;
}

#header h1 {
  font-family: 'montserratsemi_bold', Sans-Serif;
  font-size: 5.9em;
  white-space: nowrap;
}

#header h2 {
  font-family: 'source_sans_prosemibold', Sans-Serif;
  font-size: 2.6em;
}
}