@media only screen and (max-width : 850px) {
#header {
  color: white;
  line-height: 40px;
  margin-left: -30%;
}

#header h1 {
  font-size: 4.8em;
  white-space: nowrap;
}

#header h2 {
  font-size:2.0em;
}
}

@media only screen and (max-width : 768px) {
#header {
  color: white;
  line-height: 40px;
  margin-left: -30%;
}

#header h1 {
  font-size: 4.5em;
}

#header h2 {
  font-size: 1.8em;
}
}