@media only screen and (max-width : 480px) {
  footer .row .copyright {
    display:none;
  }
  footer .row .pull-right {
    position: relative;
    right: 31%;
  }

  #header h1 {
    line-height: 60px;
    font-size: 3.0em;

  }

  #header h2 {
    line-height: 40px;
    font-size: 1.3em;
  }

  .jumbotron {
    background-position: 20% 50%;
  }
}

@media only screen and (max-width : 320px) {
  #header h1 {
    line-height: 60px;
    font-size: 2.7em;
  }

  #header h2 {
    line-height: 40px;
    font-size: 1.2em;
  }
}

