/*fonts*/
  @font-face {
      font-family: 'montserratlight';
      src: url('../fonts/montserrat-light-webfont.eot');
      src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
           url('../fonts/montserrat-light-webfont.woff') format('woff'),
           url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
           url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'montserratregular';
      src: url('../fonts/montserrat-regular-webfont.eot');
      src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
           url('../fonts/montserrat-regular-webfont.woff') format('woff'),
           url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
           url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'montserratsemi_bold';
      src: url('../fonts/montserrat-semibold-webfont.eot');
      src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
           url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
           url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
           url('../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'source_sans_proregular';
      src: url('../fonts/sourcesanspro-regular-webfont.eot');
      src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
           url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
           url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
           url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'source_sans_prosemibold';
      src: url('../fonts/sourcesanspro-semibold-webfont.eot');
      src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
           url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
           url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
           url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'source_sans_proitalic';
      src: url('../fonts/sourcesanspro-it-webfont.eot');
      src: url('../fonts/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
           url('../fonts/sourcesanspro-it-webfont.woff') format('woff'),
           url('../fonts/sourcesanspro-it-webfont.ttf') format('truetype'),
           url('../fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
      font-weight: normal;
      font-style: normal;
  }

@media (min-width: 1200px) {
  #about .container, .inner-projects .container {
    width: 1000px !important;
  } 
}

html {
  position: relative;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  margin-top: 90px;

}
html, body {height:100%;}


#landing-page-content {
  margin-top: 80px;
  margin-bottom: 60px;
}

#landing-page-content-dropdown {
  margin-bottom: 60px;
}

/*NAVBAR*/
  .navbar-default {
    background-color: white;
    border-bottom:1px solid #E8E8E8;
    height: 90px;
  }

  .navbar-brand img {
    height: 60px;
    margin-top: -2px;
  }

  .navbar ul {
    letter-spacing: 2px;
    font-size: 14pt;
    font-family: 'montserratsemi_bold', Sans-Serif;
  }

  #project-nav .nav li a {
    line-height: 22px;
  }

  .nav li a {
    line-height: 59px;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ff4989;
  }

  .navbar-toggle {
    margin: 27px 15px 28px 0;
  }

  .navbar-collapse {
    background: white;
    text-align: center;
  }

/*JUMBOTRON*/
  .jumbotron{
    background-image: url("../images/LP - 2banner.png");
    background-size: cover;
    height: 100%;
  }

  #header {
    color: white;
    line-height: 40px;
  }

  #header h1 {
    font-family: 'montserratsemi_bold', Sans-Serif;
    font-size: 7.5em;
  }

  #header h2 {
    font-family: 'source_sans_prosemibold', Sans-Serif;
    font-size: 3em;
  }

/*PROJECT CONTENT*/
.italic {
  font-family: 'source_sans_proitalic';
  font-size: 1.25em;
  line-height: 33px;  
}

.bold {
  font-family: 'source_sans_prosemibold';
}

.inner-projects {
  margin:80px 0 80px 0;
}

.inner-projects h1, #about h1 {
  font-family: 'montserratlight', sans-serif;
  font-size: 4em;
  text-align: center;
  font-weight: 500;
}

.inner-projects h3 {
    font-family: 'montserratlight', sans-serif;
    font-size: 1.7em;
}

.inner-projects h4 {
  font-size: 1.4em;
}

.inner-projects p {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  padding-bottom: 15px;
}

.inner-projects img {
  padding-bottom: 25px;
}

.inner-projects ul {
 padding-bottom: 30px;
}

.inner-projects ul li {
  font-size: 1.2em;
}

.inner-projects a {
  color: #FF4989;
}

.inner-projects a:hover {
  color: #3d3d3d;
  text-decoration: none;
}

#about, #portfolio2 {
  margin:120px 0 65px 0;
}

#about p {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  padding-bottom: 15px;
}

#about li {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 1.2em;
  line-height: 30px;
}

#about a {
  color: #FF4989;

}

#about a:hover {
  color: #3d3d3d;
  text-decoration: none;
}

#photography {
  margin-top: 140px;
}

/*FOOTER*/
    .footer {
      position: static;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 100px;
      background-color: #3d3d3d;
    }

    .footer p {
      float: left;
      font-family: 'source_sans_proregular', Sans-Serif;
      color: white;
      margin-top: 32px;
      line-height: 20px;
      color: #777777;
    }

    .footer .fa {
      margin-top: 33px;
      color: #777777;
      font-size: 36px;
      letter-spacing: 12px;
    }

    .footer .fa:hover {
      color:#ff4989;
    }

/*OVERLAY*/

  .project-wrapper {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;

  }

  .project-wrapper img {
    position: relative;
  }


  .hover-text-wrapper {
    height: 80px;
    width: 380px;
    text-align: center;
    position: absolute;
    color: white;
    line-height: 0px !important;
    opacity: 0;
  }

  .hover-text-wrapper .project-title {
    font-family: 'montserratregular';
    font-size: 2.6em;
    padding: 3px;
  }

  .hover-text-wrapper .project-description {
    font-family: 'montserratlight';
    font-size: 1.2em;
    line-height: 25px;
    margin-top: -15px;
  }

  .overlay:hover img {
    opacity: .045;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
            transition: all 0.2s linear;
  }

  .overlay:hover .hover-text-wrapper {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
            transition: all 0.2s linear;
  }

  .overlay {
      width: 380px;
      height: 100%;
      background: rgb(164, 220, 201);

  }

  .height-280 {
    transform: translateY(-260%);
  }

  .height-320 {
    transform: translateY(-280%);
  }

  .height-400 {
   transform: translateY(-340%);
  }

  .height-440 {
   transform: translateY(-380%);
  }

.pink {
  color: #FF4989;
}
